# Ignorar ambiente virtual de Python
dw_creator/.venv

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar modulos do Node.js
node_modules

# Ignorar arquivos do package manager
.yarn

# Ignorar arquivos gerados
dist/
build/
generated/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de env
.env
